
.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}
.midpenal{
    height: 500px;
    width: 900px;
    float: center; 
}


#test{
    margin-top: 20px;
    margin-bottom: 10px;
    width:100%;
    height: 80px;
}

#title{
    font-family: 'Russo One', sans-serif;
    font-size: 3em;
    text-align: center;
    text-shadow: 4px 4px 4px #aaa;
   
}

#questions{
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px; 
    height: 150px;
    
}
#myQuestion{
    font-size: 2em;
    font-family: 'Press Start 2P', cursive;
    
}

#qPanel{
    /* margin-top: 40px;
    margin-bottom: 10px; */
    
}

#mainpanel{
    width: 100%;
    margin-top: 40px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 40px;
    height: 250px;
    /* opacity: 0.5; */
}
#answerrowone{
    margin-left: 10px;
}

#mainpanel2{
 
}

#buttonline2{
    margin-top: 30px;
    text-align: center;
    font-family: 'VT323', monospace;

}

#gameScoreCSS{
    margin-left: 20%;
    
}

#resetGameCSS{
    margin-right: 0%;
}

@media only screen and (min-width: 1024px) {
    /*iPro tablet or larger*/
      .pageTitle {
        font-size: 120px;
        margin-top: 75px;
        margin-bottom: 40px;
      }
  
      .myPanel {
          background-color: #f6f5dd;
          margin-bottom: 2px;
          font-size: 2em;
          height: 100px;
          padding: 5px;
          padding-left: 18px;
          padding-top: 15px;
          line-height: 30px;
          /*text-align: center;*/
      }
  
      #qPanel {
          /* background-color: ;
          margin-bottom: 5px; */
          margin-top: 10px;
          margin-left: 30px;
          margin-right: 30px;
          font-size: 1em;
          height: 75px;
          padding: 5px;
          padding-left: 18px;
          padding-top: 15px;
         
      }
  
      #myQuestion {
        font-size: 1em;
        padding-left: 0px;
        padding-top: 15px;
        margin:auto;    
    }
    #maincontainer{
        
   
    }
    
      #bg {/*JPUpdated style for background image*/
    /* The image used */
    /* Full height */
    background-repeat: no-repeat;
    background-image: center;
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


      }